@font-face {
    font-family: 'FalconMasters';
    src: url('fonts/FalconMasters.eot?-w6t49x');
    src: url('fonts/FalconMasters.eot?#iefix-w6t49x') formart('embedded-opentype');
         url('fonts/FalconMarters.woff?-w6t49x') formart('')
}